.header-div {
  font-family: 'Slabo 27px', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid lightgray
}

.header-div-nav-links {
  display: flex;
  justify-content: space-around;
}

.header-div-nav-links a{
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header-text{
  font-family: 'Slabo 27px', serif;
}

.all-campuses{
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f5f5f5;
}

.single-campus{
  padding-left: 2rem;
  padding-right: 2rem;
  background-color:#f5f5f5;
  padding-bottom: 4rem;
}

.single-student{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  background-color: #f5f5f5
}

.all-students{
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f5f5f5;
  padding-bottom: 2rem;
}

#footer{
  bottom: 0%;
  width: 100%;
  background-color: white;
  align-content: center;
  justify-content: center;
  margin: 0;
  border-top: 1px solid lightgray;
}

#footer p{
  font-size: .8rem;
  text-align: center;
}

.thumbnail img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.campus-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.caption{
  text-align: left;
  background-color: white;
  border-top: 1px solid lightgray;
  padding-left: 1rem;
  padding-right: 1rem;
}

.caption-description{
  font-size: .75rem;
}

.campus{
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 50vh;
  width: 31%;
  border: 1px solid lightgray;
  background-color: white;
}

.campus-image {
  height: 40%;
  overflow: hidden;
}

.campus-image-src{
  position: relative;
  width: 100%;
  margin-top: -1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

#all-students-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid lightgray;

}

.campus-details-container{
  width: 100%;
  align-self: center;
}

.campus-page-image{
  width: 100%;
  position: relative;
  margin-top: -30%;
}

.image-container{
  height: 30vh;
  overflow: hidden;
  border: 1px solid lightgray
}

#all-students-table-campus {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid lightgray;
}

#all-students-table-header{
  text-align: left;
  font-weight: bold;
  background-color: #cecece;
  border-bottom: 1px solid lightgray;
}

.student-listing{
  font-size: .75rem;
  border-bottom: 1px solid lightgray;
  text-align: left
}

.student-listing:hover{
  background-color: rgb(236, 236, 236)
}

.student-listing-item-center{
  text-align: center
}

.remove-student {
  text-align: center;
}

.remove-student a{
  text-align: center;
  color: red;
  font-weight: bold;
}

.remove-student a:hover{
  background-color: rgb(245, 151, 151)
}

.all-students-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#add-new-student {
  align-self: center;
  font-weight: bold;
}

#add-new-student:hover{
  background-color: #fff88f;
  border-bottom: 3px solid rgb(228, 206, 11);
}

#add-student-pane {
  display: none;
  background-color: #fffbd5;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

#edit-student-pane {
  display: none;
  background-color: #fffbd5;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

#edit-student {
  align-self: center;
  font-weight: bold;
}

#edit-student:hover{
  background-color: #fff88f;
  border-bottom: 3px solid rgb(228, 206, 11);
}

#edit-campus-pane {
  display: none;
  background-color: #fffbd5;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

#edit-campus {
  align-self: center;
  font-weight: bold;
}

#edit-campus:hover{
  background-color: #fff88f;
  border-bottom: 3px solid rgb(228, 206, 11);
}

.single-campus-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.single-campus-header h1{
  margin-bottom: 0;
}

.campus-description-page {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.single-student-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#student-input {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

.single-student h1{
  margin-bottom: 0;
}

.single-student-table{
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: white;
  border: 1px solid lightgray;
}

.single-student-table tr{
  border-bottom: 1px solid lightgray
}

.single-student-table td{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.single-student-table tr:hover{
  background-color: rgb(236, 236, 236)
}

#add-new-campus {
  align-self: center;
  font-weight: bold;
}

#add-new-campus:hover{
  background-color: #fff88f;
  border-bottom: 3px solid rgb(228, 206, 11);
}

#add-campus-pane {
  display: none;
  background-color: #fffbd5;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

.all-campuses-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#campus-input {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}
