.header-div {
  font-family: 'Slabo 27px', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-div-nav-links {
  display: flex;
  justify-content: space-around;
}

.header-div-nav-links a{
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}

.header-div-nav-links a:hover{
  background-color: antiquewhite;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header-text{
  font-family: 'Slabo 27px', serif;
}

.all-campuses{
  padding-left: 2rem;
  padding-right: 2rem;
}

.single-campus{
  padding-left: 2rem;
  padding-right: 2rem;
}

.single-student{
  padding-left: 2rem;
  padding-right: 2rem;
}

.all-students{
  padding-left: 2rem;
  padding-right: 2rem;
}

#footer{
  bottom: 0%;
  width: 100%;
  background-color: rgb(231, 231, 231);
  align-content: center;
  justify-content: center;
}

#footer p{
  font-size: 10px;
  text-align: center;
}

.thumbnail img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.campus-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.caption{
  text-align: left;
  background-color: white;
  border-top: 1px solid lightgray;
  padding-left: 1rem;
  padding-right: 1rem;
}

.caption-description{
  font-size: .75rem;
}

.campus{
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 50vh;
  width: 31%;
  border: 1px solid lightgray;
}

.campus-image {
  height: 40%;
  overflow: hidden;
}

.campus-image-src{
  position: relative;
  width: 100%;
  z-index: -1;
  margin-top: -2rem;
}

a {
  text-decoration: none;
  color: black;
}

#all-students-table {
  width: 100%
}

#all-students-table-campus {
  width: 80%
}

#all-students-table-header{
  text-align: left;
  font-weight: bold;
  background-color: #ffedf0de
}

.student-listing{
  font-size: .75rem;
}

.student-listing-item-center{
  text-align: center
}

.remove-student {
  text-align: center;
}

.remove-student a{
  text-align: center;
  color: red;
  font-weight: bold;
}

.remove-student a:hover{
  background-color: rgb(245, 151, 151)
}

.all-students-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#add-new-student {
  align-self: center;
  font-weight: bold;
}

#add-new-student:hover{
  background-color: #ffedf0de;
  border-bottom: 3px solid pink;
}

#add-student-pane {
  display: none;
  background-color: #efefef;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

#edit-student-pane {
  display: none;
  background-color: #efefef;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

#edit-student {
  align-self: center;
  font-weight: bold;
}

#edit-student:hover{
  background-color: #ffedf0de;
  border-bottom: 3px solid pink;
}

.single-student-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#student-input {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

.single-student h1{
  margin-bottom: 0;
}

.single-student-table{
  border: 1px solid black;
  border-collapse: collapse;
}

.single-student-table tr{
  border: 1px solid black;
}

.single-student-table td{
  border: 1px solid black;
}

#add-new-campus {
  align-self: center;
  font-weight: bold;
}

#add-new-campus:hover{
  background-color: #ffedf0de;
  border-bottom: 3px solid pink;
}

#add-campus-pane {
  display: none;
  background-color: #efefef;
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  border: black solid 1px;
}

.all-campuses-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#campus-input {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}
