.header-div {
  font-family: 'Slabo 27px', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-div-nav-links {
  display: flex;
  justify-content: space-around;
}

.header-div-nav-links a{
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}

.header-div-nav-links a:hover{
  background-color: antiquewhite;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header-text{
  font-family: 'Slabo 27px', serif;
}

.all-campuses{
  padding-left: 2rem;
  padding-right: 2rem;
}

.all-students{
  padding-left: 2rem;
  padding-right: 2rem;
}

#footer{
  bottom: 0%;
  width: 100%;
  background-color: rgb(231, 231, 231);
  align-content: center;
  justify-content: center;
}

#footer p{
  font-size: 10px;
  text-align: center;
}

.thumbnail img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.campus-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.caption{
  text-align: center;
}

.campus{
  margin: 0 auto;
  background-color: #ffedf0de;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  margin-bottom: 1rem;

}

a {
  text-decoration: none;
  color: black;
}
